* {
  text-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  background: antiquewhite;
  margin-bottom: 1rem;
}
